

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>
</head>

<body>

<header><img src="img/logo.jpg"  height="150px" width="150px" alt="Meadowlark Travel Logo" ></header>
<h1>Boilerplate HTML from main.handlebars</h1>

{{{body}}}

</body>
</html>